.index-container {
  .top {
    color: #333;
    font-size: 24px;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
    background: #{$primaryColor};
    // &.iphone{padding-top: 88px;}
    .scrollbar {
      width: 25%;
      height: 12px;
      transition: transform 0.3s ease-in-out;
      z-index: -1;
      position: absolute;
      left: 0;
      bottom: -4px;
    }
    .scrollbar::after {
      width: 78px;
      height: 18px;
      background: url(https://i.postimg.cc/9r6HWBT8/3.png)
        no-repeat;
      background-size: 78px 20px;
      position: absolute;
      content: "";
      left: 50%;
      bottom: 0;
      margin-left: -30px;
    }
  }
  .index-tab {
    margin: 0 10px;
    position: relative;
    display: flex;
    line-height: 36px;
    height: 170px;
    padding: 0 15px;
    .index_tab_item {
      height: 168px;
      text-align: center;
      margin-top: 4px;
      z-index: 10;
      position: relative;
      font-size: 30px;
      color: rgba(255, 255, 255, 0.8);
      flex: 1;
      &.current {
        color: #fff;
        font-weight: 600;
      }
      &::before {
        width: 98px;
        height: 90px;
        background: url(https://i.postimg.cc/Z9ZkNKw6/4.png)
          no-repeat;
        background-size: 400px 400px;
        content: "";
        display: block;
        margin: 6px auto 0;
      }
      &.flight {
        &::before {
          background-position: -100px -200px;
        }
        &.current::before {
          background-position: -100px -300px;
        }
      }
      &.current~.scrollbar {
        z-index: 2;
      }
    }
  }
  .no-exploit {
    margin-top: 400px;
  }
  .content {
    margin-top: 200px;
  }
}
