.container {
    position: relative;
    top: 0;
  .semi-button {
      position: absolute;
      top: 3px;
      right: 20px;
  }
  .edit-title {
    width: 520px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 30px;
  }
  .vditor {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 80px;
  }
}
